body {
    
    padding: 50px 150px;
    margin-right: 500px;
    text-align: center
}

.start-img {
    width: 450px;
}

#start-button {

    cursor: pointer;
    /*cursor-color: pink;*/

    box-sizing: border-box;
    font-family: ('Patrick Hand SC');
    border: solid 5px #bc388e;

    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);

    background-color:transparent;
    
    transition:all .5s;

    /*box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);*/
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    margin-top: 250px;
}

#jump-text {
    color:#bc388e;
    margin-right: 150px;
}

#game-screen {
    display: none;
    align-content: center;
    padding: 20px 0px ;
    overflow: hidden; 
    position: relative;
    background-image: url('./Images/jardin.png');
    background-size: cover;
    animation: slide 5s linear infinite;


}

#game-intro {
    background-image: url('./Images/rabbit.png');
    height: 500px;
    width: 500px;
    background-size: cover;
    position: absolute;

}

#game-end {
    display: none;
}

#game-container {
    display: block;
}